  /* Estilos específicos para dispositivos com largura entre 375px e 812px */
  
    @media (max-width: 1366px) and (max-height: 768px){
   
    .hero-image img {
    width: 500px;
    position: absolute;
    top: 230px;
    right: 100px;
    }
    .hero-text h2 {
    font-size: 3.5rem;
    line-height: 1.3;
    }
    sobre-text {
    width: 50%;
    }

    }
  /* Estilos específicos para dispositivos com largura entre 375px e 812px */
  
    @media (max-width: 375px) and (max-height: 812px){

    }