@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-block: hidden;


}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #213e5b;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */
header {
  background-color: #213e5b;
  padding: 30px 20px;
}

.header-logo {
  display: inline-block;
}

.logo {
  width: 200px;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

header nav ul li a {
  color: #fff;
  font-weight: normal;
  transition: color 0.3s;
  font-size: 1.5rem;
}

header nav ul li a:hover {
  color: #ff9900;
}

header .btn-download {
      background-color: transparent;
    border: 2px solid #ff9900;
    color: #ff9900;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;

}

header .btn-download:hover {
  background-color: #ff9900;
  color: #213e5b;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 80px; /* Adicione padding horizontal ao container */
}


/* HERO SECTION */
#hero {
  padding: 50px;
  /* position: relative; */
  height: 90vh;
}
.section__container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-image: url("images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-stact; */
  /* min-height: 70vh; */
}

#hero .hero-text {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 450px;
  margin-top: 100px;
}
#hero .hero-image{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 100px;
}



.hero-text h2 {
  font-size: 4rem;
  color: #fff;
  line-height: 1.3;
  font-weight: bold;
  max-width: 700px;
}

.hero-text h2 span {
  color: #ff9900;
}

.hero-text .btn-hero {
  padding: 20px 25px;
  background-color: #ff9900;
  color: #213e5b;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
  width: 250px;
  text-align: center;
  margin-top: auto;
}

.hero-text .btn-hero:hover {
  background-color: #eea22f;

}


.hero-image img {
  width: 500px;
  position: absolute;
  top: 260px;
  right: 250px;

}

/* SOBRE SECTION */
#sobre {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
  background: #ffa500;
}



.sobre-image {
  position: absolute; /* Posiciona a imagem absolutamente */
  top: 0;
  left: 0;
  width: 50%; /* A imagem ocupa metade da largura */
  height: 100%; /* A imagem ocupa toda a altura */
  overflow: hidden; /* Corta qualquer parte da imagem que ultrapasse */
  transform: all 0.3s ease; /* Suaviza as transições de redimensionamento */
}

.sobre-image picture img {
  width: 100%; /* Preenche a largura */
  height: 100%; /* Preenche a altura */
  object-fit: cover; /* Ajusta a proporção sem distorcer */
  display: block; /* Remove espaços extras */
}

.sobre-text {
  position: relative;
  width: 900px;
  padding: 20px 0;
  color: #12263a;
  height: 100vh;
}

.sobre-text h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 2px;
  margin: 30px 0 50px;
  color: #12263a;
}

.sobre-text p {
  font-size: 38px;
  line-height: 1.5;
  color: #12263a;
  margin-bottom: 1;
  word-spacing: 5px;
  width: 800px;
}

.sobre-text p span {
  font-weight: 600;
}

/* GALERIA SECTION */
#peoples-running {
  padding: 50px 0;
  background-color: #213e5b;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery img {
  width: 300px;
}

/* INSPIRE-SE SECTION */
#inspire-se {
  padding: 100px 0;
  text-align: center;
  position: relative;
}

#inspire-se::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/runner-silhouette.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

/*  SERVIÇOS SECTION */
#servicos {
  padding: 50px 0;
  color: #fff;
  height: 100vh;
}

.servicos-header {
  text-align: center;
}
.servicos-header img{
  width: 800px;
  margin: 80px 0 100px 0;

}

.servicos-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 100px;
}

.servico-item {
  text-align: center;

}

.servico-item img {
  width: 50px;
  margin-bottom: 15px;
}

.servico-item h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.servico-item p {
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: bold;
}

/* FÁCIL ACESSO SECTION */
#facil-acesso {
  padding: 50px 0;
  color: #fff;
}

.facil-acesso-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.facil-acesso-text,
.objetivos-text  {
 width: 520px;
}
.facil-acesso-text h2,
.objetivos-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.facil-acesso-text h3,
.objetivos-text h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffa500;
}


.facil-acesso-text ul li,
.objetivos-text ul li{
  list-style-image: url(images/Ellipse.png);
  padding: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.facil-acesso-image img {
  width: 500px;
  border-radius: 10px;
}

/* CONQUISTE SEUS OBJETIVOS SECTION */
#conquiste-objetivos {
  padding: 50px 0;
  color: #fff;
}

.objetivos-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 100px; */
}

.objetivos-image img {
  width: 600px;
  position: absolute;
  bottom: -3880px;
  left: 280px;
  z-index: -1;
}

/* Call to Action Section */
#cta {
  padding: 50px 0;
  background-color: #ff9900;
  color: #000;
  text-align: center;
}

#cta h2 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 120%;
}

#cta p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 150%;
}

#cta p span {
  font-weight: bold;
}

#cta .btn-cta {
  display: inline-block;
  width: 292px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

#cta .btn-cta:hover {
  background-color: #000;
  color: #fff;
}

/* Footer */
footer {
  padding: 20px 20px;
  background-color: #071019;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}


hr{
  background-image: url("./images/Line6.png");
  width: 1122px;
  margin: auto;
  height: 4px;
  border-radius: 50%;
}

hr.line__1{
 background-image: url("./images/Line6.png");
 width: 1122px;
 margin: auto;
 height: 4px;
 border-radius: 50%;
 position: relative;
 bottom: 150px;

}

.footer-bottom {
  display: flex;
  justify-content: center;
}

.footer-bottom p {
  font-size: 1.5rem;
  margin: 0;
}



/* Mudar a cor do scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}



/* Estilos específicos para dispositivos com largura entre 375px e 812px */

    @media (max-width: 1366px) and (max-height: 768px){


    .hero-image img {
    width: 500px;
    position: absolute;
    top: 230px;
    right: 100px;
    }

    .hero-text h2 {
    font-size: 3.5rem;
    line-height: 1.3;
    }

    .sobre-text {
    width: 50%;
    padding: 10px;
    }
   .sobre-text p {
    font-size: 30px;
    line-height: 1.5;
    color: #12263a;
    width: 600px;
    }

    hr.line__1 {
    background-image: url(./images/Line6.png);
    width: 1122px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    }

       .objetivos-image img {
        width: 630px;
        position: absolute;
        bottom: -3680px;
        left: 50px;
        z-index: -1;
    }

    }

  /* Estilos específicos para dispositivos com largura entre 768px e 1024px */

    @media (max-width: 768px) and (max-height: 1024px){

   header {
    background-color: #213e5b;
    /* padding: 30px 20px; */
}
      #hero {
      padding: 50px;
      height: 85vh;
    }
     .section__container {
      padding: 0
    }

    .container-header {
      display: flex;
      align-items: center;
      padding: 30px;
    }

    .header-logo {
    display: flex;
    align-items: center;
    }

    #hero .hero-text {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 450px;
    margin-top: 250px;
}
.hero-text h2 {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8;
    font-weight: bold;
    max-width: 700px;
}
  .hero-text .btn-hero {
    padding: 15px;
    background-color: #ff9900;
    color: #213e5b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    width: 150px;
    text-align: center;
    margin-top: 50px;
}
    .hero-image img {
    width: 380px;
    position: absolute;
    top: 350px;
    right: 10px;
    height: 870px;
}
  .sobre-text h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 2px;
    margin: 30px 0 50px;
    color: #12263a;
    text-align: right;
    width: 560px;
    overflow: hidden;
}
  .sobre-text p {
    position: relative;
    left: 400px;
    font-size: 1.7rem;
    line-height: 1.5;
    color: #12263a;
    margin-bottom: 1;
    /* word-spacing: 5px; */
    width: 340px;
}


    .gallery img {
    width: 200px;

    }

    .servicos-header img {
    width: 600px;
    margin: 80px 0 100px 0;
    }

    .servicos-grid {
    display: flex;
    margin-top: 30px;
    gap: 5px;
    }

    .servico-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    }

    .servico-item p {
    font-size: 1.2rem;
    /* line-height: 1.6; */
    font-weight: bold;
    }

    hr {
    background-image: url(./images/Line6.png);
    width: 500px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
}
hr.line__1 {
    background-image: url(./images/Line6.png);
    width: 500px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: 200px;
}
    .facil-acesso-text,
     .facil-acesso-image img{
      width: 320px;

    }
    .facil-acesso-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    }

    .facil-acesso-text h2, .objetivos-text h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

    .facil-acesso-text h3, .objetivos-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffa500;
}
    .facil-acesso-text, .objetivos-text {
    width: 300px;
}
   .facil-acesso-text ul li, .objetivos-text ul li {
    /* list-style-image: url(images/Ellipse.png); */
    padding: 2px;
    margin-left: 20px;
    font-size: 16px;
}

     .objetivos-image img{
      position: absolute;
      top: 4280px;
      left: 50px;
      height: 380px;
      width: 350px;
     }

     #cta h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;
    }

    #cta p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
   }
   .footer-bottom p {
    font-size: 1.2rem;
    margin: 0;
}
    }


    /* Estilos específicos para dispositivos com largura entre 720px e 1600px */

    @media (max-width: 720px) and (max-height: 1600px){


      #hero {
      padding: 50px;
      height: 85vh;
    }
    .section__container {
    padding: 0
    }
   /* .navbar.active {
    display: none;

    } */
    .container-header {
      display: block;
      /* align-items: center;
    padding: 30px; */
    }
    .bx{
      font-size: 40px;
      padding-top: 10px;
    }

    .header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .logo {
        width: 100px;
    }

   header nav ul {
    list-style: none;
    display: flex
;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
header .btn-download {
    font-size: 1.5rem;
    cursor: pointer;
    border: none; 
    border-color: transparent; 
    border-style: none;
    border-width: 0; 
    color: white;
    width: 0px;
}

 
      .hero-content {
        display: block;
    }

     #hero .hero-text {
        width: 500px;
        margin: 200px auto;
        display: flex;
        align-items: center;
        height: 500px;


    }

    .hero-text h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 1.8;
    font-weight: bold;
    max-width: 700px;
    text-align: center;
    }

  .hero-text .btn-hero {
    padding: 15px;
    background-color: #ff9900;
    color: #213e5b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    width: 150px;
    text-align: center;
    margin-top: 50px;
}
  #hero .hero-image {
      width: 380px;


    }
 .hero-image img {
    width: 380px;
    top: 950px;
    left: 160px;

    }



.sobre-image  {
    width: 100%;
 
}
.sobre-image picture img{
    width: 100%;
    position: absolute;
    top: 405px;
    object-fit: contain;
}

.sobre-text {
    padding: 20px 0;
    color: #12263a;
}
.sobre-text h2 {

margin: 50px;

}
.sobre-text p {
        font-size: 2rem;
        line-height: 1.5;
        color: #12263a;
        margin: auto;
        word-spacing: 0px;
        width: 600px;
    }



    hr {
    background-image: url(./images/Line6.png);
    width: 500px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
}
    hr.line__1 {
    background-image: url(./images/Line6.png);
    width: 500px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: 80px;
}

    .servicos-header img {
    width: 600px;
    margin: 80px 0 100px 0;
    }

    .servicos-grid {
    display: block;
    width: 300px;
    margin: auto;
    }

    .servico-item img {
    width: 100px;
    margin: 20px;
}
   .servico-item h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}
     .servico-item p {
    font-size: 1.5rem;
    line-height: 1.8;
    font-weight: bold;
}
   .facil-acesso-text img,
     .facil-acesso-image img{
      width: 350px;

    }
    .facil-acesso-content {
    display: block;
    width: 85%;
    margin: auto;

    }
    .facil-acesso-text,
    .facil-acesso-image  {
  
    margin: 0 50px 80px;

    }

    .facil-acesso-image img {
      width: 500px;
   
    }

    .objetivos-content {
    justify-content: center;
}
    .facil-acesso-text ul li, .objetivos-text ul li {
    list-style-image: url(images/Ellipse.png);
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}

    .gallery img {

    display: none;
    }



    .objetivos-image img {
      width: 500px;
      top: 6950px;
      left: 110px;

    }

    #conquiste-objetivos {
    padding: 50px 0;
    color: #fff;
    height: 55vh;
}
     #cta h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;
    }

    #cta p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
   }
   .footer-bottom p {
    font-size: 1.2rem;
    margin: 0;
}
    }
 


    /* Estilos específicos para dispositivos com largura entre 4145px e 886px */

    @media (max-width: 414px) and (max-height: 896px){

      /* #hero {
      padding: 50px;
      height: 85vh;
    } */
    .section__container {
    padding: 0
    }
 /* .navbar.active {
    display: none;

    } */

    .container-header {
      display: flex;
      align-items: center;
      padding: 0px;
    }

    .header-logo {
    display: flex;
    align-items: center;
    }
    .logo {
        width: 100px;
    }
      .hero-content {
        display: block;
    }

       #hero .hero-text {
        width: 300px;
        margin: 50px auto;
        /* display: flex;
        align-items: center; */
        height: 100px;
    }

    .hero-text h2 {
        font-size: 1.4rem;
        color: #fff;
        line-height: 1.8;
        font-weight: bold;
        max-width: 700px;
        text-align: center;
    }

  .hero-text .btn-hero {
    padding: 15px;
    background-color: #ff9900;
    color: #213e5b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    width: 150px;
    text-align: center;
    margin-top: 50px;
}
  #hero .hero-image {
      width: 380px;


    }
     .hero-image img {
        width: 200px;
        height: 400px;
        top: 520px;
        left: 110px;
    }

 
   
.sobre-image  {
    width: 100%;
 
}
.sobre-image picture img{
    width: 100%;
    position: absolute;
    top: 305px;
    object-fit: contain;
}

.sobre-text {
    padding: 20px 0;
    color: #12263a;
}
    .sobre-text h2 {
        width: 120px;
        font-size: 38px;
    }
.sobre-text p {
        font-size: 1rem;
        line-height: 1.7;
        color: #12263a;
        margin: auto;
        word-spacing: 0px;
        width: 300px;
        left: -40px;
    }



    hr {
    background-image: url(./images/Line6.png);
    width: 250px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
}
    hr.line__1 {
    background-image: url(./images/Line6.png);
    width: 250px;
    margin: auto;
    height: 4px;
    border-radius: 50%;
    position: relative;
    bottom: -200px;
}

.inspire-text img{
  width: 300px;
}

    .servicos-header img {
    width: 350px;
    margin: 80px 0 100px 0;
    }

    .servicos-grid {
    display: block;
    width: 300px;
    margin: auto;
    }

    .servico-item img {
    width: 50px;
    margin: 20px;
}
   .servico-item h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
     .servico-item p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: bold;
}
   .facil-acesso-text img,
     .facil-acesso-image img{
      width: 250px;

    }
    .facil-acesso-content {
    display: block;
    width: 85%;
    margin: 200px 0 auto;

    }
    .facil-acesso-text,
    .facil-acesso-image  {
  
    margin: 0 50px 80px;

    }

    /* .facil-acesso-image img {
      width: 500px;
   
    } */

    .objetivos-content {
    justify-content: center;
}
    .facil-acesso-text ul li, .objetivos-text ul li {
    list-style-image: url(images/Ellipse.png);
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}

    .gallery img {

    display: none;
    }



    .objetivos-image img {
      width: 250px;
      height: 250px;
      top: 4550px;
      left: 80px;

    }

    #conquiste-objetivos {
    padding: 0px 0;
    color: #fff;
    height: 73vh;
}
     #cta h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 120%;
    }

    #cta p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
   }
   #cta .btn-cta {
    display: inline-block;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3sease;
}
   .footer-bottom p {
    font-size: 1rem;
    margin: 0;
}
   
    }
